body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.logo-container {
    flex: 1;
}

.logo {
    height: 300px; width: 300px;
}

header {
    background: #058C42;
    color:  #ffffff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    padding: 20px;
}

footer {
    background-color: #058C42;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #058C42;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #058C42;
}

/* esqueci a senha */

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #058C42;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.back-to-login {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #058C42;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #058C42;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #058C42;
}